@model IEnumerable<MXAppMedia.Web.Models.ClientViewModel>
<h2>Clients</h2>
<br />
<a asp-action="CreateClient" class="btn btn-primary" title="Create New Client">
    <span class="fa fa-plus"></span> Create New Client
</a>
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPerson)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a href="@Url.Action("ClientDetailView", "Clients", new {item.Id})"> @Html.DisplayFor(modelItem => item.Name) </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerson)
                    </td>
                    <td>
                        <a asp-controller="Medias" asp-action="CreateMediaClient" asp-route-clientId="@item.Id" class="btn btn-success">Create Media</a>
                    </td>
                    <td>
                        <a asp-action="EditClient" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    <td>
                        <a asp-action="DeleteClient" asp-route-id="@item.Id" title="Delete" class="btn btn-danger">
                            <span class="fa fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
